.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
height: 92px;

  border: 1px solid var(--social-color);
  border-radius: 4px;

  transition: border var(--transition), color var(--transition);

  color: var(--social-color);

  @media screen and (min-width: 768px) {
    width: 226px;
height: 92px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  height: 92px;
  }


  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.client-icon {
  fill: currentColor;
}