.subscription {
  width: 570px;
  height: 86px;
  margin-left: 93px;
  margin-top: 12px;

  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.subscription-field {
  display: flex;
  flex-direction: column;
  gap: 20px;


  & label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);
  }

  & input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: var(--address-footer-color);

    width: 358px;
    height: 50px;
    padding: 0 16px;

    background-color: var(--background-black-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(var(--box-shadow));
    border-radius: 4px;

    transition: border-color var(--transition);
  }

  & input:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  & input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: var(--address-footer-color);
  }
}

.subscription-button {
  width: 200px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: var(--accent-color);
  box-shadow: var(--box-shadow);
  border: 0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.06em;

  cursor: pointer;

  color: var(--primary-white-color);

  outline: 1px solid #2f303a;

  transition: background-color var(--transition), box-shadow var(--transition),
    outline var(--transition);


  &:hover,
  &:focus {
    outline: 1px solid var(--subscription-hover-color);
    background: var(--subscription-hover-color);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
  }
}