.footer-social {
  // max-width: 206px;
  // margin-left: 165px;
  // margin-top: 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: var(--primary-white-color);

  @media screen and (max-width: 1199px) {
    min-height: 82px;
  }

  @media screen and (min-width: 780px) {
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-right: 92px;
    text-align: left;
  }

  &-title {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
}

.socials-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color var(--transition), background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.socials-footer-icon {
  fill: currentColor;
}
