.border {
  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.border p {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-work {
  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-hover {
  position: absolute;
  display: inline-block;
  padding: 0 24px;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--primary-white-color);

  transition: top var(--transition), transform var(--transition);
}

.hover-text {
  display: inline-block;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}