.teamer .teamer-item {
  width: 270px;

  background: var(--primary-white-color);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 30px;
}

.teamer img {
  margin-bottom: 30px;
}

.team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 16px;
}

.teamer .teamer-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
}